/*#region About US Page Styles  */
.container {
}

.con-item1 {
  font-weight: 600;
  text-align: center;
  padding: 30px 60px;
  padding-top: 10px;
}

.con-item1 h1 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

p.content {
  font-weight: 100;
}

.dvBlogContent {
  width: 70%;
  margin: 0 0 0 1%;
}

.imgBlogBanner {
  text-align: center;
}
.imgBlogBanner img {
  width: 90%;
}
.productconRange {
  padding: 25px 0 25px 45px;
}
.productconRange h2 {
  font-weight: 900;
  font-size: 40px;
}

.productBlogs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px 30px 20px;
}

.prodImg img {
  width: 70%;
}
.dvProdContent p {
  padding: 10px;
  text-align: justify;
}
.cardHead {
  font-weight: 600;
  font-size: 18px;
}
.dvcardButton {
  margin: 2% 25%;
}
.cardButton {
  margin-top: 7%;
  width: 100%;
  padding: 10px;
  background-color: #ef6c00;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.dvMainContent {
  display: flex;
  flex-direction: row;
}

.dvAuthors h1 {
  text-align: center;
  margin-bottom: 20px;
}
.dvSidePanel {
  text-align: center;
}
.dvCardProd {
  margin: 20px 0;
}

.dvCategory ul {
  list-style-type: none;
  text-align: center;
}

.dvCategory li {
  padding: 10px;
  font-weight: 600;
}
.dvMainCategory {
  margin-top: 25px;
}

.dvFormContent h2 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.dvForm {
  padding: 25px 0 25px 45px;
  width: 60%;
  margin: 0 auto;
}
label,
input,
textarea {
  display: block;
  width: 100%;
}
input[type="submit"] {
  background: #ef6c00;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 1.3em;
}
form {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
input,
textarea {
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #e1e2eb;
  background-color: #fff;
  color: #102a43;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2rem;
  box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
  border-radius: 3px;
  line-height: 2rem;
}
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li {
  padding: 0.3em;
}

/*#endregion About US Page Styles  */

/* Desktop View */
/* For devices 1024px width and above */
@media only screen and (min-width: 1024px) {
  /* Desktop-specific styles */
  .prodImg img {
    width: 80%;
  }
}

/* Tablet View */
/* For devices 768px to 1023px width */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .productconRange h2 {
    font-size: 35px;
  }
  .prodImg img {
    width: 85%;
  }
  .productBlogs {
    padding: 20px 20px 30px 20px;
  }
  .productBlogs {
    flex-direction: column;
  }
}

/* Mobile View */
/* For devices up to 767px width */
@media only screen and (max-width: 767px) {
  .productconRange h2 {
    font-size: 35px;
  }
  .prodImg img {
    width: 85%;
  }
  .productBlogs {
    padding: 20px 20px 30px 20px;
  }
  .productBlogs {
    flex-direction: column;
  }
}

/* Small Mobile View */
/* For devices up to 479px width (very small screens) */
@media only screen and (max-width: 479px) {
  .con-item1 {
    padding: 30px;
    padding-top: 10px;
  }
  .dvMainContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgBlogBanner img {
    width: 100%;
  }
  .productconRange {
    padding: 10px;
  }
  .productconRange h2 {
    font-size: 24px;
  }
  .dvForm {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
  }
  .dvBlogContent {
    width: 85%;
    margin: 0;
  }
}
